body {
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  #reiniciarBoton {
    padding: 8px 12px;
    background-color: #535353;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  #mensaje {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
  }

#contador {
    min-height: 70px; 
}

#tituloIntentos,
#intento {
    visibility: hidden;
}
  